label {
  display: inline-block;
}

.v4p-form {
  margin-top: 10%;
}

div.field_with_errors {
  display: inline-block;
}

div.field_with_errors input,
div.field_with_errors textarea {
  border: 1px solid red;
}

.error_msg {
  color: red;
}

@media only screen and (max-width: 600px) {
  .v4p-form {
    text-align: center;
  }
  div.field_with_errors {
    display: block;
  }
}
